    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Alegreya';
    }
    
    .clr {
        clear: both;
    }
    
    p {
        color: #888;
        margin: 10px 0px;
        ;
    }
    
    .nav .logo {
        float: left;
    }
    
    .nav .logo img {
        width: 50%;
    }
    
    .nav ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    .nav ul li {
        padding: 10px;
        float: right;
        padding-top: 20px;
    }
    
    .nav ul li a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        display: inline;
        transition: 0.3s;
    }
    
    .nav ul li a:hover {
        background-color: white;
        color: black;
        padding: 9px;
        border-radius: 10px;
        font-size: 20px;
        transition: 0.3s;
    }
    
    .cover {
        text-align: center;
        color: white;
        background-image: url(images/cover.jpg);
        background-size: cover;
        background-position: center center;
        height: 100vh;
        overflow: auto;
    }
    
    .cover .info {
        margin-top: 15%;
    }
    
    .cover h1 {
        font-size: 85px;
    }
    
    .cover .btn {
        padding: 15px 28px;
        border: none;
        margin-top: 30px;
        background-color: thistle;
        color: black;
        border-radius: 5px;
    }
    
    .cover .btn2 {
        border: solid 2px #fff;
    }
    
    .cover .btn1 {
        background-color: #8e7754;
    }
    
    .bakery {
        text-align: center;
        padding: 20px 20px;
    }
    
    .container {
        width: 85%;
        margin: auto;
    }
    
    .items {
        width: 33.333%;
        float: left;
    }
    
    .items p {
        padding: 10px 20px;
    }
    
    .items img {
        width: 90%;
    }
    
    .second {
        align-items: center;
    }
    
    .thepic {
        width: 50%;
        float: left;
    }
    
    .thepic img {
        width: 75%;
    }
    
    .who {
        width: 50%;
        float: right;
    }
    
    .who ul {
        list-style-type: none;
    }
    
    .who i {
        border: 2px solid burlywood;
        border-radius: 100%;
        background-color: white;
        color: burlywood;
        font-size: 20px;
        padding: 10px;
    }
    
    .seconddiv {
        background-color: #f8f8f8;
    }
    
    .container2 {
        width: 85%;
        margin: auto;
        padding-top: 5%;
    }
    
    .card1 {
        width: 50%;
        padding-left: 7%;
        float: right;
    }
    
    .card1 img {
        width: 80%;
    }
    
    .card2 {
        padding-top: 7%;
        width: 50%;
        float: left;
    }
    
    hr.linee {
        width: 70%;
        border: 0.8px1px solid;
    }
    
    .footer {
        background-color: #1b1b1b;
        color: #797979;
    }
    
    .member {
        width: 25%;
        float: left;
    }
    
    .member1 {
        width: 25%;
        float: left;
        color: #969696;
        ;
    }
    
    .member1 ul {
        list-style-type: none;
    }
    
    .member1 li::before {
        content: " <";
    }
    
    .member2 {
        width: 25%;
        background-image: url(images/contact-details-map.png);
        float: left;
        color: #A9A9A9;
        background-size: cover;
    }
    
    .last {
        background-color: #353330;
    }
    
    .container3 {
        margin: auto;
        width: 30%;
        padding-top: 3%;
        text-align: center;
    }